.Hero {
  background: #fafafa;
}

.PostGallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: auto;
  max-height: 450px;
  overflow: hidden;
}

.BigGallery {
  width: 65%;
}

.SmallGallery {
  width: 35%;
  max-height: 150px;
}

.MainHomeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.PostContainer {
  width: 70%;
}

.AboutUsContainer {
  width: 28%;
}

@media (max-width: 906px) {
  .PostGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    max-height: 100%;
  }
  .BigGallery {
    width: 100%;
    height: auto;
    max-height: 450px;
    overflow: hidden;
  }
  .SmallGallery {
    width: 100%;
    height: auto;
    max-height: 450px;
    overflow: hidden;
  }
  .MainHomeContainer {
      display: grid;
      grid-template-columns: 1;
  }
  .PostContainer {
    width: 100%;
  }
  .AboutUsContainer {
    width: 100%;
  }
}
