.Header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.HeaderMenu a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #565673;
  font-size: 15px;
  letter-spacing: 1.2px;
}

.HeaderMenu a:hover {
  color: #5f9ea0;
}

.SocialMedia {
  margin: 0 10px;
}

@media (max-width: 648px) {
  .Header {
    display: grid;
    grid-template-columns: 1;
  }
}
